.clients__header {

  padding-top: 60px;
  padding-bottom: 30px;

  @media screen and (min-width: 480px) {

    font-size: 28px;
    line-height: 1.17em;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {

    padding-top: 94px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1, 16em;
    text-align: center;
  }
  
  }
  
  .clients-list {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    margin-bottom: -30px;
    margin-left: -30;
  }
  
  .clients-list__item {

    display: flex;
    justify-content: center;
    align-items: center;

    flex-basis: calc((100% - 30px) / 2);

    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1200px) {

      flex-basis: calc((100% - 120px) / 6);

    }
    
    }
  
  .clients-list__link {
    
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 480px) {

      width: 100%;

    }

    @media screen and (min-width: 768px) {
      width: 100%;
    }
  
    border: 1px solid #afb1b8;
    border-radius: 4px;
  
    padding: 16px 32px;
  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
  
      border: 1px solid var(--accent-color);
      border-radius: 4px;
    
    }

    &:hover .clients-list__icon,
    &:focus .clients-list__icon {
    
      fill: $accent-color;
    
    }
  
  }

  .clients-list__icon {
  
    fill: #afb1b8;
  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  }