.team {
  background: #f5f4fa;
}

.team__header {

  padding-top: 60px;
  text-align: center;
  padding-bottom: 30px;
  

  @media screen and (min-width: 480px) {

    padding-bottom: 30px;
    
    font-size: 28px;
    line-height: 1.17em;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {

    padding-top: 94px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1, 16em;
    text-align: center;
  }

}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.team-list__item {

  display: flex;

  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    font-size: 28px;
    line-height: 1.17px;
  }

  @media screen and (min-width: 768px) {

    

    margin-top: 30px;

    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {

    flex-basis: calc((100% - 120px) / 4);
  }

}

.team-card {
  background-color: $white;

  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__image {
  width: 100%;
  height: auto;
}

.team-card__title {
  padding-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
}

.team-card__text {
  padding-top: 10px;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 1.2em;
  text-align: center;

  color: $secondary-color-gray;
}
